.page-header
  .row
    .col-lg-10         
      .panel.panel-info
        .panel-heading
          .panel-title
            Buildings
        .panel-body
          .table-responsive
            %table.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th Name
                  %th Development
                  %th Type
                  %th City
                  %th Action
                  %th
                  %th
              %tbody
                - @buildings.each do |building|
                  %tr
                    %td= building.name
                    %td= building.development_area.name
                    %td= building.building_type
                    %td= building.address.city
                    %td= link_to 'Show', building, :class => 'btn btn-xs btn-default'
                    %td= link_to 'Edit', edit_building_path(building), :class => 'btn btn-xs btn-default'
                    %td= link_to 'Delete', building, :data => { confirm: 'Are you sure?' }, :method => :delete, :class => 'btn btn-xs btn-default'