.page-header
  = link_to unit_templates_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_unit_template_path(@unit_template), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show unit_template

%dl.dl-horizontal
  %dt Name:
  %dd= @unit_template.name
  %dt Type:
  %dd= @unit_template.unit_type
  %dt Furnished:
  %dd= @unit_template.furnished
  %dt Area:
  %dd= @unit_template.area
  %dt Sqmprice:
  %dd= @unit_template.sqmprice
  %dt Unitprice:
  %dd= @unit_template.unitprice
